/*Mobile-Phone View*/
@media screen and (max-width: 767px){
    img{
        width: calc(100% - 150px);
    }
    .title{
        font-size: 3rem;
        margin-bottom: 2rem;
    }
    .checkbox,
    .forgot_password-link{
        margin-left: 1.5rem;
    }
    .form_title{
        text-align: center;
        font-size: 1.5rem;
    }
    input[type="text"],
    input[type="password"],
    input[type="email"]{
        height: 50px;
        width: calc(100% - 50px);
        border-radius: 3px;
        padding: 0 10px;
        margin-left: 1.5rem;
        font-size: 14px;
        font-weight: 300;
    }
    input[type="submit"]{
        height: 50px;
        width: calc(100% - 50px);
        margin-left: 1.5rem;
    }
}

/*Tablet View*/
@media screen and (max-width: 1024px) and (min-width: 767px) {
    img{
        width: calc(100% - 350px);
    }
    .title{
        font-size: 4rem;
    }
    input[type="text"],
    input[type="password"],
    .forgot_password-link{
        height: 70px;
        width: calc(100% - 50px);
        border-radius: 3px;
        padding: 0 10px;
        margin-left: 1.5rem;
        font-size: 20px;
        font-weight: 300;
    }
    input[type="submit"]{
        height: 70px;
        width: calc(100% - 50px);
        margin-left: 1.5rem;
        font-size: 20px;
    }
}
